/* * {
    border: 1px solid yellow;
} */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #121212;
    line-height: 30px;

}

h1 {
    font-size: 55px;
}

.bg-web {
    display: block;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 900px;
}

/*container-hero*/

.container-hero {
    margin: 5px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    height: 900px;
}

.coloum-kiri {
    flex: 1;
    order: 1;
    display: flex;
    justify-content: center;
    padding-left: 10em;
    box-sizing: border-box;
}

.text-hero {
    margin: auto;
    line-height: 30px;
}

.coloum-kanan {
    flex: 1;
    order: 2;
    display: flex;
    justify-content: start;
    box-sizing: border-box;

}

.socialmedia {
    display: flex;
    justify-content: center;
    margin-top: -3em;
}

.img-avatar {
    margin: 150px auto auto;

}

.img-avatar-size {
    width: 535px;
}


p {
    font-weight: normal;
    font-size: 18px;
    opacity: 0.8;
}

.balok {
    margin: 25px auto 35px;
    padding: 5px;
}

.balok::after {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom right, #E95841, #E94B63);
    width: 76px;
    height: 5px;
    border: 0;

}

/* button */
.btn {
    display: block;
    height: 45px;
    width: 168px;
    border-radius: 45px;
    margin-top: 45px;
    display: flex;
}

.button-utama {
    background-image: linear-gradient(to bottom right, #ccff00, #E94B63);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.button-utama:hover {
    transform: scale(1.08);
    transition: all 0.9s;
    color: #E94B63;
}

.button-text {
    margin: auto;
    font-size: 14px;
}

/* skill */

.container-skill {
    display: flex;
    width: 100%;
    height: 520px;
    justify-content: space-evenly;
    margin: 5px auto;
    padding: 20px;
}

.coloum-kiri-skill {
    display: flex;
    flex: 1;
    order: 1;
    justify-content: center;
}

.coloum-kanan-skill {
    display: flex;
    flex: 1;
    order: 2;
}

.text-skill-layout {
    margin: auto;
    line-height: 30px;
}

.text-skill {
    margin: 0px 10em;
}

.sub-text-skill {
    font-size: 16px;
    font-weight: bold;
    color: #E95841;
}




/*Icon Media Social*/


.fab {

    display: flex;
    justify-content: center;
    align-items: center;


}

a.fab {
    text-decoration: none;
    color: rgb(50, 50, 50);
    margin: 5px 10px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.4s;
}

a.fab:hover {
    color: #CCFF00;
}

a.fab::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50);
    /* background-color: #CCFF00; */
    opacity: 0.7;
    border-radius: 50%;
    z-index: -1;
    transform: scale(1.1);
    transition: all 0.9s;
}

a.fab:hover::after {
    background-color: #CCFF00;
    /* background-color: rgb(50, 50, 50); */
}





/*ipad*/
@media (max-width: 768px) {

    .img-avatar-size {
        margin: auto;
        width: 450px;
    }

    .coloum-kiri {
        padding-left: 0em;
        box-sizing: border-box;
    }

    .socialmedia {
        margin-top: -1em;
    }

    .coloum-kiri-skill {

        align-content: stretch;

    }
/* .coloum-kanan-skill {} */

    .text-skill-layout {
        margin: 0px;
        line-height: 30px;
    }

}



/*Mobile Version*/
@media (max-width: 576px) {
    .container-hero {
        flex-direction: column;
    }

    .coloum-kiri {
        padding-left: 0em;
        box-sizing: border-box;
        order: 2;
    }

    .coloum-kanan {
        order: 1;
    }

    .img-avatar-size {
        margin: auto;
        width: 320px;
    }

    .container-skill {
        margin-top: 150px;
        flex-direction: column;
    }

    .coloum-kiri-skill {
        order: 2;
    }

    .coloum-kanan-skill {
        order: 1;
    }

    .text-skill {
        margin: 0px;
    }

}

@media (max-width: 320.98px) {

    .img-avatar-size {
        margin: auto;
        width: 290px;
    }

    .coloum-kiri {
        padding-left: 0em;
        box-sizing: border-box;
    }
}