* {
  border: 1px solid rgb(0, 0, 0);
}
.container {
  height: 100%;
  background-color: antiquewhite;
}
.container-fluid {
  height: 100vh;
  background-color: yellow;
}
.container-fluid:nth-child(2) {
  background-color: blue;
}
